body{
    background-color: rgb(43, 43, 43);
    margin: 0px;
}
#banner{
    height: 80px;
    background-color: purple;
    border-bottom: solid black;
}
#bannertext{
    text-align: center;
    margin: 0px;
    font-size: 50px;
    font-family: Kanit;
    font-weight: 700;
}
#sidebar{
    float: left;
    width: 150px;
    height: 1000px;
    background-color: purple;
    border-right: black solid;
}
.cdiv{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
a:link{
    color: rgb(67, 231, 61);
}
a:visited{
    color: rgb(67, 231, 61);
}
a:hover{
    color: pink
}
a:active{
    color: white
}
.games{
    float: left;
    margin: 5px;
}
.gameimage{
    border: 3px solid;
    width: 300px;
}
.gametext{
    margin: 0px;
    text-align: center;
    color: white;
}